<!DOCTYPE html>
<html lang="en">
<head>
        <title>
            Settings
        </title>
        {% load static %}
        <link rel="stylesheet" content="text/css" href="style.css">
        <link rel="stylesheet" content="text/css" href="{% static 'main_page/style.css' %}">

    </head>

    <body class = "body">
            <h4><b>{{ERRORS}}</b></h4>
        <div class = "settings">
        <form method="post">{% csrf_token %}
            <div class = "mqtt">
            <h2>MQTT</h2>
            MQTT Address <input id="MQTT_Broker" type="text" name="MQTT_Broker" value="{{ MQTT_Broker }}"><br />
            Username <input id="MQTT_user" type="text" name="MQTT_user" value="{{ MQTT_user }}"><br />
            Password <input id="MQTT_password" type="password" name="MQTT_password" value="{{ MQTT_password }}"><br />
            </div>

            <div class = "server">
             <h2>Server</h2>
            Server address <input id="Server" type="text" name="Server" value="{{ Server }}"><br />
            Username <input id="Server_Username" type="text" name="Server_Username" value="{{ Server_Username }}"><br />
            Password <input id="Server_Password" type="password" name="Server_Password" value="{{ Server_Password }}"><br />
            </div>
            <input type="submit" value="Save">
        </form>
        <form method="post" action="/gpio_update">{% csrf_token %}
            <div class = "gpio">
            <h2>GPIO</h2>
                <div>
                <h4>GPIO 1</h4>
                    Type: <input id="IO_Type1" type="text" name="IO_Type1" value="{{ IO_Type1 }}"><br />
                    Data Type: <input id="IO_Units1" type="text" name="IO_Units1" value="{{ IO_Units1 }}"><br />
                    Enabled: <input id="IO_Enabled1" type="checkbox" name="IO_Enabled1" {{ IO_Enabled1 }}><br />
                </div>
                <div>
                <h4>GPIO 2</h4>
                    type: <input id="IO_Type2" type="text" name="IO_Type2" value="{{ IO_Type2 }}"><br />
                    Data Type: <input id="IO_Units2" type="text" name="IO_Units2" value="{{ IO_Units2 }}"><br />
                    Enabled: <input id="IO_Enabled2" type="checkbox" name="IO_Enabled2" {{ IO_Enabled2 }}><br />
                </div>
                    <div>
                <h4>GPIO 3</h4>
                    type: <input id="IO_Type3" type="text" name="IO_Type3" value="{{ IO_Type3 }}"><br />
                    Data Type: <input id="IO_Units3" type="text" name="IO_Units3" value="{{ IO_Units3 }}"><br />
                    Enabled: <input id="IO_Enabled3" type="checkbox" name="IO_Enabled3" {{ IO_Enabled3 }}><br />
                     </div>
                <div>
                <h4>GPIO 4</h4>
                    type: <input id="IO_Type4" type="text" name="IO_Type4" value="{{ IO_Type4 }}"><br />
                    Data Type: <input id="IO_Units4" type="text" name="IO_Units4" value="{{ IO_Units4 }}"><br />
                    Enabled: <input id="IO_Enabled4" type="checkbox" name="IO_Enabled4" {{ IO_Enabled4 }}><br />
                    </div>
                <div>
                <h4>GPIO 5</h4>
                    type: <input id="IO_Type5" type="text" name="IO_Type5" value="{{ IO_Type5 }}"><br />
                    Data Type: <input id="IO_Units5" type="text" name="IO_Units5" value="{{ IO_Units5 }}"><br />
                    Enabled: <input id="IO_Enabled5" type="checkbox" name="IO_Enabled5" {{ IO_Enabled5 }}><br />
                    </div>
                <div>
                <h4>GPIO 6</h4>
                    type: <input id="IO_Type6" type="text" name="IO_Type6" value="{{ IO_Type6 }}"><br />
                    Data Type: <input id="IO_Units6" type="text" name="IO_Units6" value="{{ IO_Units6 }}"><br />
                    Enabled: <input id="IO_Enabled6" type="checkbox" name="IO_Enabled6" {{ IO_Enabled6 }}><br />
                    </div>
                <div>
                <h4>GPIO 7</h4>
                    type: <input id="IO_Type7" type="text" name="IO_Type7" value="{{ IO_Type7 }}"><br />
                    Data Type: <input id="IO_Units7" type="text" name="IO_Units7" value="{{ IO_Units7 }}"><br />
                    Enabled: <input id="IO_Enabled7" type="checkbox" name="IO_Enabled7" {{ IO_Enabled7 }}><br />
                    </div>
                <div>
                <h4>GPIO 8</h4>
                    type: <input id="IO_Type8" type="text" name="IO_Type8" value="{{ IO_Type8 }}"><br />
                    Data Type: <input id="IO_Units8" type="text" name="IO_Units8" value="{{ IO_Units8 }}"><br />
                    Enabled: <input id="IO_Enabled8" type="checkbox" name="IO_Enabled8" {{IO_Enabled8}}><br />
                    </div>

                </div>
            <input type="submit" value="Save">
        </form>
        </div>
        <a href="/logout" ><button>Logout</button></a>
    </body>
</html>