.body {
	 background-image: url(cas.png);
	 background-repeat: no-repeat;
	 background-size: cover;
}

div.gsm{
    margin:10px;
    border: 1px solid black;
    background: white;
    height: auto;
    width: 30%;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

div.Services{
    margin:10px;
    border: 1px solid black;
    background: white;
    height: auto;
    width: 30%;
}

div.settings{
    margin:10px;
    border: 1px solid black;
    background: white;
    height: auto;
    width: 30%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.9fr 1.1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". GSM Service ." ". . . ." ". . . .";
}

.button21{
  background-color: #e7e7e7; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div.buttons{
    float: bottom:
    align: ;

}
.GSM { grid-area: GSM; }

.Service { grid-area: Service; }