.body {
    background-image: url(cas.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div.gsm {
    margin: 10px;
    background: white;
    height: auto;
    width: 30%;
    align-self: center;
    background-position: initial;
    text-align: center;
    overflow: hidden;
    clear: both;
    float: none;
    display: block;
    vertical-align: inherit;
    position: relative;
    z-index: -8;
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    border-radius: 17px;
    object-fit: contain;
    object-position: -3px;
    opacity: 1;
    letter-spacing: 1px;
    text-indent: -7px;
    white-space: normal;
    word-break: normal;
    background-size: inherit;
    background-origin: inherit;
    border: -4px solid black;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);

    .form-signin-heading,
    .checkbox {
        margin-bottom: 30px;
    }

    .checkbox {
        font-weight: normal;
    }

    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;

        @include box-sizing(border-box);

        &:focus {
            z-index: 2;
        }
    }

    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

div.Services {
    margin: 10px;
    border: 1px solid black;
    background: white;
    height: auto;
    width: 30%;
    padding: 1px;
    top: 11px;
    bottom: 423px;
    left: 443px;
    right: 287px;
    position: sticky;
    z-index: -10;
    clear: both;
    overflow: hidden;
    text-align: center;
    align-self: center;
    float: none;
    color: #000000;
    background-color: #ffffff;
    border-radius: 17px;
    opacity: 1;
    object-position: -1px;
    object-fit: contain;
    vertical-align: middle;
    display: inherit;
    font-weight: normal;
    letter-spacing: 0px;
    text-indent: -1px;
    font-style: normal;
    font-variant: normal;
    white-space: normal;
    word-break: normal;
    background-position: inherit;
    background-size: auto;
    background-origin: inherit;
}

div.settings {
    margin: 10px;
    border: 1px solid black;
    background: white;
    height: auto;
    width: 30%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.9fr 1.1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". GSM Service ." ". . . ." ". . . .";
}

.button21 {
    background-color: #e7e7e7;

    /* Green */
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 17px;
    border: 1px none;
    font-weight: bold;
    font-variant: normal;
    font-style: normal;
    background-position: left bottom;
    background-origin: inherit;
    background-size: inherit;
}

div.buttons {
    float: bottom:
    align:;
    border-radius: 1px;
}

.GSM {
    grid-area: GSM;
}

.Service {
    grid-area: Service;
}