<html> 
    <head> 
        <title> 
            Main
</title>         
        {% load static %}
        <link rel="stylesheet" content="text/css" href="{% static 'main_page/style.css' %}">
    </head>     
    <body class="body">
        <div class="gsm"> 
            <h2>GSM Status</h2> 
            <hr> 
            IMEI : {{imei}} 
            <br/> 
            Operator : {{Operator}}
            <br/> 
            Sim Number : {{sim_number}}
            <br/> 
            Signal : {{Signal}}
            <br/> 
            Data type : {{Data_type}}
            <br/> 
            State : {{State }}
            <br/> 
        </div>         
        <div class="services"> 
            <h2>Service Status </h2> 
            <hr> 
            MQTT state : {{MQTT_State}}
        </div>         
    </body>     
</html>