<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" content="text/css" href="{% static 'main_page/login.css' %}">
</head>
<body class = "body">
    <div class="login">
        <form method="post" class="form-signin">{% csrf_token %}
            <input id="username" type="text" name="username" placeholder="Username" class="form-control" required><br />
            <input id="password" type="password" name="password" placeholder="password" class="form-control" required><br />
            <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" >
        </form>
         {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        <br />
                        {{ message }}

                    </div>
            {% endfor %}
    </div>
    <div class="shadow"> </div>


</body>
</html>