<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        window.location = 'http://'+window.location.hostname+':81'
    </script>
    {% load static %}
    <link rel="stylesheet" content="text/css" href="{% static 'main_page/style.css' %}">
</head>
<body class = "body">
    <script>
			function getURL() {
			window.location = 'http://'+window.location.hostname+':80'
			}
		</script>
</body>
</html>